@import "https: //fonts.googleapis.com/css2? family= Montserrat:wght@500 & display=swap";

* {
    margin: 0;
    padding: 0;
}

.cabeçalho {
    background-color: rgb(28, 31, 34);
    position: fixed;
    width: 100%;
    top: 0px;
}

.logo {
width: fit-content;
padding-left: 20px;
padding-top: 10px;
width: 100px;
height: 100px;
}

.menu {
    padding-top: 0px;
}

.lista {
    display: flex;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    color: aliceblue;
    font-weight: 500;
    margin-left: 150px;
    margin-top: -100px;
    gap: 50px;
    padding: 40px;
}

.capa-filme {
    display: flex;
    height: 500px;
    margin-left: 1100px;
    margin-top: 105px;
    position: absolute;
}

.destaque {
    display: flex;
    background-color: rgb(218, 218, 218);
    padding: 10px;
}

.descrição-filme {
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin-top: 120px;
    margin-left: 20px;
    width: 600px;
    padding: 50px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 400px;
}

.genero {
    word-spacing: 10px;
}

.audio-legenda {
    word-spacing: 10px;
}

.saiba-mais {
    padding: 10px;
}

.bloco-capa .capa {
    width: 300px;
    height: 400px;
    margin-top: -310px;
    margin-left: 650px;
    position: relative;
    border-radius: 10px;
}

.divisor-destaque {
    width: 1700px;
    margin-left: 220px;
}